.header {
    position: relative;
}

.header-menu {
    .menu__list {
        @include media ('<860px'){
            visibility: hidden;
            transform: translate(0, -100%);
            flex-wrap: nowrap;
            padding: 50px;
            position: fixed;
            left: 0;
            top: 16%;
            flex-direction: column;
            width: 100%;
            height: 100%;
            z-index: 100;
            background-color: $white;
            .list {
                &__item {
                    padding: 10px;
                    &:hover {
                        background-color: #18B5DC;
                        color: $white;
                    }
                    &:not(:last-child){
                        padding-right: 0;
                    }
                    a {
                        &:hover {
                            color: $white;
                        }
                    }
                }
            }
        }
    }
    .menu__list  {
        .burger-active & {
            @include media('<860px'){
                opacity: 1;
                visibility: visible;
                transform: translate(0, 0);
                transition: 0.9s;
                box-shadow: 0 3px 16px #0009;
                border-bottom: 2px solid #18B5DC;
                border-top: 2px solid #18B5DC;
                
            }
        }
    }
}
.header__btn  {
    @include media('<860px'){
        font-size: 12px;
    }
}


.about {
    @include media('<860px'){
        padding: 100px 0 50px;
        &__title {
            font-size: 20px;
        }
        &__subtitle {
            font-size: 14px;
           
        }
       
    }
    
   
}


.about {
    @include media('<=1024px'){
        .card__list {
            &.list {
                .list__item {
                    flex: 50%;
                    max-width: 50%;
                    padding-bottom: 20px;
                    overflow: hidden;
                    &_card-block {
                        position: relative;
                        margin-bottom: 20px;
                        height: 38vw;
                      
                    }
                }
            }
        }
    }
    @include media('<=480px'){
        .card__list {
            &.list {
                .list__item {
                    flex: 100%;
                    max-width: 100%;
                    &_card-block {
                        position: relative;
                        margin-bottom: 20px;
                        height: 70vw;
                      
                    }
                   
                }
            }
        }
    }
   
}
@include media ('<860px'){
    .list__item_card-name {
        p {
            font-size: 14px;
        }
        span {
            font-size: 16px;
        }
    }
}



footer {
    .footer-content {
        @include media ('<860px'){
            .menu {
                &__list {
                    justify-content: center;
                    .list {
                        &__item {
                            a {
                                font-size: 14px;
                            }
                        } 
                    }
                }
            }
            .social__list {
                &__item {
                    .icon-linkedin2 {
                        font-size: 18px;
                        padding: 8px;
                    }
                    span {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
