#wrapper {
    overflow: hidden;
    
}

body {
    font-family: 'Open Sans';
    color: #070707;
    font-size: 18px;
    letter-spacing: normal;
   
}


.container {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    max-width: 1000px;
    
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


figure {
    margin: 0;
}

.site-header {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 46px;
    text-align: center;
    @include media ('<640px'){
        font-size: 24px;
    }
}