#wrapper {
    overflow: hidden;
    
}

body {
    font-family: 'Roboto', sans-serif;
    color: #1C1C1C;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: normal;
    background: #E5E5E5;
    
    
   
}


.container {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    max-width: 1470px;
    
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}




