$breakpoints: (
	'xs-phone': 320px,
	'phone': 480px,
	'tablet': 768px,
	'desktop': 1024px,
	'widescreen': 1280px
);

// keywords
$media-expressions: (
	'screen': 'screen',
	'print': 'print',
	'handheld': 'handheld',
	'landscape': '(orientation: landscape)',
	'portrait': '(orientation: portrait)',
	'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
	'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);

@import 'variables';
@import 'include-media';
@import 'common';
@import 'normalize';
@import 'reset';
@import 'helpers';



ul {
	padding-left: 35px;
}
div {
	font-size: 18px;
	
	
	p {
		margin-bottom: 10px;
		
		
	}
	span {
		transform: translateY(0.1em);
		display: inline-block;
		
	}
}

span {
	transform: translate(120px, 50%);
}

mark {
	background: none;
	font-weight: bold;

}

section, header {
	padding-bottom: 50px;
}

h4 {
	font-size: 30px;
}

.browsers {
	ul {
		@extend %listreset;
		display: flex;
		align-items: center;
		padding-left: 0;
		li {
			&:not(:last-child){
				padding-right: 5px;
			}
			
			img {
				width: 30px;
				height: 30px;
			}
		}
	}
}


