.steps-section {
    background-color: #333333;
    padding: 123px 0 5px;
    background-attachment: scroll;
    @include media ('<=768px'){
        padding: 60px 0 40px;
    }
    &_list {
        display: block;
        @extend %listreset;
        justify-content: space-around;
        font-family: 'Aleo';
        font-size: 36px;
        line-height: calc(40 / 36);
        text-align: center;
        text-transform: capitalize;
        color: #FFFFFF;
        position: relative;
        @include media ('>=769px'){
            display: flex;
           
        }
        &:before {
            content: "";
            position: absolute;
            width: 41%;
            height: 155px;
            border: dashed 5px #e6dada;
            border-color: #f0e6e6 transparent transparent transparent;
            border-radius: 67%/173px 198px 10px 10px;
            left: 13%;
            top: -40%;
           pointer-events: none;
            @include media ('<=768px'){
                display: none;
            }   
        }
        &:after {
            content: "";
            position: absolute;
            width: 41%;
            height: 155px;
            border: dashed 5px #e6dada;
            border-color: #f0e6e6 transparent transparent transparent;
            border-radius: 67%/173px 198px 10px 10px;
            left: 46%;
            top: -38%;
            pointer-events: none;
            @include media ('<=768px'){
                display: none;
            }  
        }
    }
    &_link {
        position: relative;
        &:not(:last-child){
            margin-bottom: 76px;  
            @include media ('>=769px'){
                margin-bottom: 0;
               
            }
        }
        span {
            font-size: 64px;
           
        }
        &:nth-child(1){
            span {
                &:before {
                    color: #ff00ff;
                    
                }
                &:hover {
                    &:before {
                        color: #c554c5;
                    }
                }
            }
        }
        &:nth-child(2){
            span {
                &::before {
                    color: #FF6363;
                }
                &:hover {
                    &:before {
                        color: #a86464;
                    }
                }
            }
            
        }
        &:nth-child(3){
            span {
                color:  #00A2FF;
                &:hover {
                    &:before {
                        color: #1b9da7;
                    }
                }
            }
        }
    }
}



.cloud {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    z-index: 2;
    opacity: 0.8;
  }