

@import "./base/breakpoints";
@import "./vendors/include-media";
@import "./vendors/normalize";
@import "./vendors/fonts";



@import "./base/mixins";
@import "./base/variables";
@import "./base/reset";




@import "./base/forms";
@import "./base/helpers";

@import "./layouts/header";
@import "./layouts/common";
@import "./layouts/footer";


.services {
    padding: 95px 0 103px 0;
}


.services-columns {
    display: flex;
    @extend %listreset;
    margin: 0 -15px;
    .columns {
        background: #FFFFFF;
        border: 1px solid #E5EAF4;
        border-radius: 8px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        &:hover {
            border: 1px solid #52C29D;
        }
    }
    li {
        flex: 0 0 33.33%;
        max-width: 33.33%;
        padding: 0 15px; 
    }
    span {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 21px;
        letter-spacing: 0.2px;
        color: #16133D;
        margin-bottom: 15px;
    }
    
}

.services-svg {
    &:hover {
        .hover-odd {
            fill: #52C29D;
        }
        .hover-even {
            fill: #007FFC;
        }
    }
}

.service-link {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #3DB370;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}


.svg-border {
    border: 1px solid rgba(21, 101, 216, 0.1);
    border-radius: 16px;
    padding: 10px;
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    &:hover {
        border: 1px solid rgba(68, 26, 116, 0.747);  
    }
    
}




.services-text {
    width: 100%;
    max-width: 275px;
    padding-bottom: 25px;
    p {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: #16133D;
    }
}


.name-title {
    padding-bottom: 30px;
    h2 {
        text-transform: uppercase;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        color: #7690A8;
        letter-spacing: 0.3px;
        padding-bottom: 15px;
    }
    p {
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 52px;
        letter-spacing: 0.2px;
        color: #16133D;
    }
    
}

