.form-row {
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
    margin: 0 -15px;
    .col {
        flex: 0 0 50%;
        max-width: 50%;
        padding: 0 15px;
    }
    .columns {
        background: #FFFFFF;
        min-height: 590px;
        padding: 36px 35px 0 34px;
        &.profile {
            > div {
                display: flex;
                padding-bottom: 11px;
            }
            #update-btn {
                font-weight: 500;
                font-size: 15px;
                line-height: 22px;
                text-align: center;
                letter-spacing: -0.1px;
                color: #FFFFFF;
                border: none;
                outline: none;
                min-height: 38px;
                background: #007BFF;
                border: 1px solid #E4E4E4;
                border-radius: 6px;
                padding: 8px 50px;
                transition: background .1s ease-in;
                &:hover {
                    background: #2e465f;
                }

            }
            
        }
       
    }
    h1, h2 {
        font-weight: 500;
        font-size: 24px;
        line-height: 32px;
        padding-bottom: 25px;
    }
    span {
        font-weight: 400;
        font-size: 13px;
        line-height: 18px;
        letter-spacing: -0.1px;
        color: #969696;
        display: block;
        margin: -15px 0 25px;
    }
}

.create-acc {
    #sign-btn {
        width: 100%;
        border: none;
        outline: none;
        min-height: 38px;
        font-weight: 500;
        font-size: 15px;
        line-height: 22px;
        text-align: center;
        letter-spacing: -0.1px;
        color: #FFFFFF;
        background: #007BFF;
        border: 1px solid #E4E4E4;
        border-radius: 6px;
        margin-bottom: 24px;
        transition: background .1s ease-in;
        &:hover {
            background: #2e465f;
        }
    }
    .login {
        @extend %listreset;
        justify-content: center;
        display: flex;
        text-align: center;
        margin: 0 -15px;
        padding-top: 15px;
        li {
            padding: 0 15px;
            p {
                font-weight: 400;
                font-size: 15px;
                line-height: 22px;
                text-align: right;
                letter-spacing: -0.2px;
                color: #545454;
            }
        }
        a {
            display: block;
            text-decoration: none;
            font-weight: 500;
            font-size: 15px;
            line-height: 22px;
            letter-spacing: -0.1px;
            color: #007BFF;
            &:hover{
                text-decoration: underline
            }
        }
    }
}

.content-container {
    @extend %listreset;
    display: flex;
    transform: translate(0px, 10px);
    #photo-upload {
        display: none;
    }
    
    // input[type="file"] {
    //     opacity: 0;
    // }
    .upload-btn {
        font-weight: 400;
        font-size: 13px;
        line-height: 18px;
        letter-spacing: -0.1px;
        color: #969696;
        &:before {
            content: '';
            background-image: url('../image/down-photo.png');
            width: 138px;
            height: 30px;
            display: block;
            background-repeat: no-repeat;
            margin-bottom: 10px;

        }
    }
    #trash{
        display: none;
    }
    .delete {
        transform: translate(7px, 0px);
        &:before {
            content: '';
            background-image: url('../image/Righticon.png');
            width: 30px;
            height: 30px;
            display: block;
            background-repeat: no-repeat;

        }
    }
}

.form-acc {
    border-radius: 6px;
}

.form-rows {
    @extend %listreset;
    display: flex;
    li {
        &:nth-child(1){
            .input{
                width: 243px;
                margin-right: 12px;
            }
        }
        &:nth-child(2){
            .input{
                width: 100%;
                width: 245px;
            }
        }
    }
    
}

.terms {
    max-width: 410px;
    margin: 0 auto;
    text-align: center;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.1px;
    color: #969696;
    border-bottom: 1px solid rgb(226, 212, 212);
    padding-bottom: 20px;
    
    a {
        text-decoration: none;
        font-family: 'Inter';
        font-weight: 400;
        font-size: 13px;
        line-height: 18px;
        text-align: center;
        letter-spacing: -0.1px;
        color: #007BFF;
        &:hover{
            text-decoration: underline
        }
    }
}
  
.select-country{
    display: flex;
    .input {
        -webkit-appearance: none;
    }
    .country-arrows {
        position: relative;
        pointer-events: none;
        &:after {
            display: inline-block;
            content: '';
        }
       
        &:after {
            position: absolute;
            background-image: url('../image/Arrows.png');
            top: 45px;
            width: 1em;
            height: 1em;
            background-size: 100%;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            right: 15px;
            cursor: pointer;
            
        }
    }
}

.input {
    background: #FFFFFF;
    border: 1px solid #E4E4E4;
    border-radius: 6px;
    display: block;
    padding: 8px 10px;
    width: 100%;
    margin: 10px 0 18px;
    
}
.select-gender {
    @extend %listreset;
    display: flex;
    margin-bottom: 15px;
    li {
        display: flex;
        padding-right: 50px;
        .checkbox {
            border-radius: 10px;
        }
    }
}

label {
    // transition: all 0.25s ease;
    // -webkit-backface-visibility: hidden;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    /* identical to box height, or 147% */
    display: block;
    letter-spacing: -0.2px;
    color: #545454;
}




.photo-profile {
    margin-right: 22px;
}





