.form-row {
    display: flex;
    margin: 0 -15px;
    justify-content: center;
    gap: 15px;
    .columns {
        max-width: 570px;
        padding: 36px 35px 0 34px;
        background: #FFFFFF;
        &.profile {
            > div {
                display: flex;
            }
        }
    }
}

.form-acc {
    border-radius: 6px;
}

.form-rows {
    display: flex;
}


  
.select-country{
    display: flex;
}

.form {
    background: #FFFFFF;
    border: 1px solid #E4E4E4;
    border-radius: 6px;
    
}


label {
    // transition: all 0.25s ease;
    // -webkit-backface-visibility: hidden;
    // pointer-events: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    /* identical to box height, or 147% */
    display: block;
    letter-spacing: -0.2px;
    
    color: #545454;
}

// #submit-btn {
//     background: #4A4F56;
//     margin-top: 50px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     width: 100%;
//     min-height: 45px;
//     color: #FF8984;
//     font-weight: 400;
//     border: none;
//     transition: background .1s ease-in;
//     &:hover {
//         background: #333538;
//     }

// }


// input[type="checkbox"] {
//     appearance: none;
// }







