* {
    margin: 0;
    padding: 0;
}



#wrapper {
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'Montserrat';
}


.container {
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    max-width: 800px;
    position: relative;
    
}


