
.contacts {
    padding: 100px 0 100px;
    .container {
        max-width: 1400px;
    }
}

.contacts-row {
    display: flex;
    margin: 0 -15px;
    flex-wrap: wrap;
    @include media ('<768px'){
        display: block
    }
    ul {
        @extend %listreset;
        margin-bottom: 20px;
        li {
            display: flex;
            align-items: center;
            padding: 10px;
            div {
                padding-right: 20px;
            }
        }
       
        
    }
}

.contacts-col {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px;
    @include media ('<768px'){
        flex: 0 0 100%;
        max-width: 100%;
    }
    iframe {
        width: 100%;
        
    }
}