#wrapper {
    overflow: hidden;
}

body {
    font-family: 'Red Hat Display';
    font-weight: 600;
    font-size: 28px;
    line-height: 166%;
    letter-spacing: 0.1em;
    color: #000000;
}


.container {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    max-width: 1200px;
    
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}



.name_title {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 166%;
    letter-spacing: 0.1em;
    color: #000000;
}

.date {
    display: flex;
    justify-content: space-between;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 166%;
    letter-spacing: 0.1em;
    color: #7B7B7B;   
    margin-bottom: 25px;
}
.head {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 166%;
    letter-spacing: 0.1em;
    color: #000000;
    margin-bottom: 20px;
}
.description {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 166%;
    letter-spacing: 0.05em;
    color: #565656;
}

.image {
    margin-bottom: 20px;
    img {
        min-height: 260px;
        display: block;
        width: 100%;
    }
}