.footer {
    padding: 70px 0 50px;
    background: #F4F4F4;
    &_phone {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 166%;
        letter-spacing: 0.1em;
        color: #000000;
        display: inline-block;
    }
    &_mail {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 166%;
        letter-spacing: 0.1em;
        color: #000000;
        display: inline-block;    
    }
    
    
}

.footer {
    
    .flex-row {
        @include media ('<=768px'){
            display: flex;
            max-width: 100%;
            flex: 0 0 100%;
            padding: 0;
            justify-content: center;
            margin: 0;
            text-align: center;
        }
    }
}

.footer_item {
    &.item {
        flex: 0 0 50%;
        max-width: 50%;
        padding-bottom: 15px;
        @include media ('<=768px'){
            max-width: 100%;
            flex: 0 0 100%;
            padding: 0;
            justify-content: center
        }
    }
    
}

.footer {
    &_social_list {
        @extend %listreset;
        display: flex;
        justify-content: end;
        align-items: center;
        padding-top: 57px;
        @include media ('<=768px'){
            display: flex;
            max-width: 100%;
            flex: 0 0 100%;
            padding: 0;
            justify-content: center;
            margin: 0;
            text-align: center;
        }
    }
}

.social_list {
   
    justify-content: end;
    align-items: center;
    &_item {
        &:not(:last-child) {
            margin-right: 23px;
        }
        a {
            text-decoration: none;
            display: inline-block;
        }
        span {
            padding: 9.88px 10px;
            border: 1px solid #565656;
            font-size: 25px;
            color:  #565656;
            display: inline-block;
            transition: background-color 0.5s ease-in;
            &:hover {
                background-color: #565656;
                color: #F4F4F4;
            }
        }
    }
}

.footer_copyright {
    text-align: center;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 166%;
    letter-spacing: 0.1em;
    color: #000000;
    
}

