#wrapper {
    overflow: hidden;
    
}

body {
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    font-size: 18px;
    letter-spacing: normal;
    background: #3B3F45;
    line-height: 21px;
    
    
   
}


.container {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    max-width: 564px;
    
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}




