#wrapper {
    overflow: hidden;
}

body {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #898F8F;
}


.container {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    max-width: 1200px;
    
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}




