.about-me {
    padding: 95px 0 98px 0;
    background: #F6F6F6;
    .text {
        text-align: center;
        max-width: 480px;
        width: 100%;
        margin: 0 auto;
        padding: 43px 0 0 0;
        p {
            font-weight: 400;
            font-size: 18px;
            line-height: 25px;
            text-align: center;
            color: #070707;
            @include media ('<640px'){
                font-size: 14px;
            }
            &:not(:last-child){
                padding-bottom: 30px;
            }
        }
    }
}