.section-head {
    position: relative;
    padding: 121px 0 63px;
    &_decor {
        max-width: 450px;
        width: 100%;
        display: flex;
        align-items: center;
        margin: 0 auto;
        &::before, &::after {
            content: '';
            height: 1px;
            background-color: #FFCC00;
            flex-grow: 1;
        }
        .decor {
            flex-shrink: 0;
            margin: 0 10px;
        }
    }
    &_subtitle {
        text-align: center;
        padding-bottom: 50px;
        

        p {
            text-transform: uppercase;
            font-weight: 500;
            font-size: 18px;
            line-height: 24px;
            margin-bottom: 15px;
        }
        h2 {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 900;
            font-size: 60px;
            line-height: 66px;
            text-align: center;
            text-transform: uppercase;
            color: #FFCC00;
            margin-bottom: 30px;
        }
    }
}