.header {
	padding: 18px 0 70px 0;
}


.header-top {
	display: flex;
	align-items: center;
	justify-content: space-between
}



.header-list {
	@extend %listreset;
	display: flex;
	align-items: center;
	li {
		&:not(:last-child){
			padding-right: 15px;
		}
		a {
			text-decoration: none;
			font-family: 'Montserrat';
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 28px;
			transition: color .3s ease-in;
			&:hover {
				color:#FF9900
			}
			&.active {
				color:#FF9900;
			}
		}
	}
	
}



.buttons-list {
	display: flex;
	@extend %listreset;
	margin-right: -5px;
	li {
		&:not(:last-child){
			padding-right: 30px;
		}
	}
}

.btn {
	display: inline-block;
	border: 1px solid #BCD0E5;
	border-radius: 4px;
	padding: 13px 26px;
	text-decoration: none;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
}


.sign-white {
	background-color: #fdfdfd;
	color: #2F281E;
	transition: background-color .3s ease-in;
	&:hover {
		background-color: #9c620b;
		color: #BCD0E5;
	}
	
}

.sign-orange {
	background-color: #FF9900;
	color: $white;
	transition: background-color .3s ease-in;
	&:hover {
		background-color: #9c620b;
	}
}