#wrapper {
    overflow: hidden;
    section {
        @include media ('<768px'){
            padding-bottom: 35px;
        }
    }
}

body {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 28px;
    line-height: 166%;
    letter-spacing: 0.1em;
    color: #000000;
}


.container {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    max-width: 1200px;
    
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}





.intro-title {
    &.title {
        font-size: 28px;
        line-height: 166%;
        letter-spacing: 0.1em;  
        font-weight: 400; 
        color: #565656;
    }   
}