.intro {
    padding: 0 0 80px;
    &-title {
        font-family: 'Red Hat Display';
        font-weight: 600;
        font-size: 48px;
        line-height: 64px;
        letter-spacing: 0.05em;
        padding-bottom: 50px;
        @include media ('<768px'){
            font-size: 32px;
            line-height: 1.6;
        }
       
    }
}
   




