#wrapper {
    overflow: hidden;
    
}


.container {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    max-width: 1790px;
    
}

body {
    font-family: 'Futura New';
    font-weight: 400;
}

a {
    text-decoration: none;
    display: inline-block;
}



figure {
    margin: 0;
}