.blog {
    padding: 0px 0 44px;
    &.name_title {
        font-family: 'Red Hat Display';
        font-style: normal;
        font-size: 48px;
        line-height: 64px;
        letter-spacing: 0.05em;
        color: #000000;
    }
    
}

.blog_item_maxw {
    padding-top: 90px;
    max-width: 450px;
    @include media ('<=768px'){
        padding-top: 0;
        max-width: 100%;
    }
}

.flex-row {
    display: flex;
    margin: 0 -15px;
    @extend %listreset;
    flex-wrap: wrap;
    > div {
        padding: 0 15px;

    }
    &.rev {
        flex-direction: row-reverse;
        .blog_item_maxw {
            margin-left: auto;
        }
       
    }
}

.blog_item {
    &.flex-row {
        @include media ('<=768px'){
            align-items: flex-start;
        }
        @include media ('<=340px'){
           display: block;;
        }
    }
}


.blog_item {
    margin-bottom: 36px;
    &_image {
        flex: 0 0 50%;
        max-width: 50%;
        img {
            width: 100%;
        }
        @include media ('<768px'){
            flex: 0 0 100%;
            max-width: 100%;

        }
        
    }
    &_text {
        flex: 0 0 50%;
        max-width: 50%;
        padding-top: 50px;
        @include media ('<768px'){
            flex: 0 0 100%;
            max-width: 100%;
            
        }
        
    }
    &_label {
        font-family: 'Lato';
        font-size: 16px;
        line-height: 166%;
        letter-spacing: 0.1em;
        color: #7B7B7B;
        margin-bottom: 20px;
    }
    &_header {
        font-family: 'Red Hat Display';
        font-weight: 500;
        font-size: 23px;
        line-height: 166%;
        letter-spacing: 0.1em;
        color: #000000;
    }
    &_date {
        font-family: 'Lato';
        font-size: 16px;
        line-height: 166%;
        letter-spacing: 0.1em;
        color: #7B7B7B;
        display: inline-block;
        margin-bottom: 45px;
        @include media ('<=768px'){
            margin-bottom: 35px;
        }
        
    }
    &_description {
        font-family: 'Lato';
        font-size: 16px;
        line-height: 166%;
        letter-spacing: 0.05em;
        color: #565656;
        position: relative;
        
       
    }
    &_arrow {
        margin-left: 15px;
    }
   
}

