
.info {
    padding: 0 0 55px;
    @include media ('<768px'){
        padding: 0 0 35px;
    }
}
.popular_row {
    .info_item {
        p {
            font-weight: 400;
            font-size: 19px;
            line-height: 32px;
            letter-spacing: 0.05em;
            color: #565656;
            margin-bottom: 35px;
            @include media ('<768px'){
                font-size: 16px;
                line-height: 1.7;
            }

        }   
        
    }
}   

.info_svg {
    transform: translateY(-10px);
}

.info_item {
    &.head {
            @extend %hyphens;
            font-family: 'Red Hat Display';
            font-weight: 400;
            font-size: 23px;
            line-height: 166%;
            letter-spacing: 0.1em;
            color: #000000;
            margin-bottom: 3px;
            @include media ('<768px'){
                font-size: 18px;
            }
        }
        
    }

    .info_max-w {
        max-width: 470px;
        margin-left: auto;
        @include media ('<768px'){
            max-width: 100%;
            margin-left: 0;
        }
    }