.posts {
    padding: 0 0 110px;
    .item {
        padding: 0 15px;
        flex: 0 0 33.33%;
        max-width: 33.33%;
        @include media ('<=768px'){
            margin: 0 0px;
            flex: 0 0 100%;
            max-width: 100%;
            display: flex;
            padding: 0;
        } 
    }
   
    
   
}



.post_item {
    &.flex-row {
        @include media ('>=768px'){
            flex-direction: column;
        }
    }
}
.posts-header {
    display: flex;
    align-items: center;
    padding-bottom: 45px;
}
.posts_list {
    .posts_item {
        &.image {
            @include media ('<=768px'){
                max-width: 50%;
                flex: 0 0 50%;
                padding: 0 15px;
            }
            @include media ('<=340px'){
                max-width: 100%;
                flex: 0 0 100%;
                padding: 0 15px;
            }
                

        }  
        &.text {
            @include media ('<=768px'){
                max-width: 50%;
                flex: 0 0 50%;
                padding: 0 15px;
            }
            @include media ('<=340px'){
                max-width: 100%;
                flex: 0 0 100%;
                padding: 0 15px;
            }
        }
       
    }
}

.view {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.1em;
    color: #7B7B7B;
    display: inline-block;
    text-decoration: none;
    margin-left: auto;
    flex-shrink: 0;
    line-height: 1;
    &::after {
        content: '\2192';
        margin-left: 10px;
        font-size: 30px;
        transform: translateY(-5px);
        vertical-align: middle;
        line-height: 1;
        display: inline-block;
    }
}
.posts_item {
    &_image {
        margin-bottom: 20px;
        
        img {
            min-height: 260px;
            display: block;
            width: 100%;
        }
    }
    
}

